# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environment variables
.env

# Static and media files
/static/
/staticfiles/
/media/

# Virtual environments
venv/
env/
ENV/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
